[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/kcp"]
	path = third_party/kcp
	url = https://github.com/skywind3000/kcp
[submodule "third_party/openssl-3.4.0"]
	path = third_party/openssl-3.4.0
	url = https://github.com/openssl/openssl
